<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="BBQRMSSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<BBQRMSSolution.Properties.Settings>
			<setting name="dataServiceBaseUri" serializeAs="String">
				<value>http://localhost/Temporary_Listen_Addresses/BBQRMS/</value>
			</setting>
		</BBQRMSSolution.Properties.Settings>
	</applicationSettings>
	<runtime>
		<NetFx40_LegacySecurityPolicy enabled="true"/>
	</runtime>
</configuration>